/* stylelint-disable */
@font-face {
  font-family: 'iconfont';  /* project id 1831043 */
  src: url('//at.alicdn.com/t/font_1831043_4axd8ra0ghp.eot');
  src: url('//at.alicdn.com/t/font_1831043_4axd8ra0ghp.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1831043_4axd8ra0ghp.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1831043_4axd8ra0ghp.woff') format('woff'),
    url('//at.alicdn.com/t/font_1831043_4axd8ra0ghp.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1831043_4axd8ra0ghp.svg#iconfont') format('svg');
}

.icon-font {
  font-family: iconfont;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

.icon-font-github::before {
  content: "\e718";
}

.icon-font-weixin::before {
  content: "\e61b";
}

.icon-font-qq::before {
  content: "\e651";
}
